<form action="/verify" method="POST">
    <div class="">
        <span>email</span>
        <input type="text" name="email">
    </div>
    <div class="">
        <button>Submit</button>
    </div>
</form>